.project1 {
    font-size: 36px;
    text-align: center;
    border: 2px solid #f14b5c;
    color: #f14b5c; /* kolor pomarańczowy */
    background-color: #FFE7EC; /* kolor jasnoróżowy */
}
body{
    background-color: darksalmon;
}
#page{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #b3d4fc;
}
